/* color veriable */
$device_bg_color:rgba(255, 255, 255, .2);
$icon_bg_color: rgba(255,250,252, .7);
$text_bg_color: rgba(255,250,252, .3);
$icon_color:#a2a2a2;
$color:#080405;
$white:white;
$off_white:#7a7878;
$button_gc_color:linear-gradient(115deg, rgba(243, 142, 98, 1) 0%, rgba(246, 71, 164, 1) 50%, rgba(206, 79, 210, 1) 100%);
$button_gc_color2:linear-gradient(148deg, rgba(142,214,229,1) 0%, rgba(202,79,229,1) 100%);
$text_gc_color:linear-gradient(to right, #E8936E 0%, #EE4BA8 50%, #ca4fce 100%);
// background: rgb(234,212,248);
// background: linear-gradient(138deg, rgba(234,212,248,1) 0%, rgba(242,168,191,1) 100%);
/* dark_mode_color */

/* font name */
$Poppins:"Poppins";
/* border */
$border: 0px solid red;
